.container {  display: grid;
  grid-template-columns: 0.4fr 2.1fr 1.2fr 0.4fr;
  grid-template-rows: 0.4fr auto auto auto auto auto 1fr;
  grid-auto-columns: 1fr;
  gap: 0em 0em;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar navbar navbar navbar"
    ". focus focus ."
    ". how-it-works how-it-works ."
    ". card card ."
    ". more-text more-text ."
    ". card2 card2 ."
    "footer footer footer footer"
}

.navbar { 
  grid-area: navbar;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}


.how-it-works { 
  grid-area: how-it-works; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 4em;
}

.card { 
  grid-area: card;
  display: flex;
  border-radius: 2em;
  background-color:rgb(8, 80, 248);
}

.cardtext{
  color: white;
  font-size: 20px;
  padding: 6em;
}

.card .img{
  background-color: white;
}

.card2 .img{
  background-color: white;
}
#infotitle{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: -1em;
}

.more-text { 
  grid-area: more-text; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 4em;
  padding-bottom: 4em;
}

.card2 { 
  grid-area: card2; 
  display: flex;
  border-radius: 2em;
  background-color:  rgb(8, 80, 248);
  margin-bottom: 4em;
}

.card2text{
  color: white;
  font-size: 20px;
  padding: 6em;
}

.footer {
  grid-area: footer;
}