/* Style agreements

Colors:
    blue: rgb(8, 80, 248)
    green: rgb(127, 209, 38
 */



.container {  display: grid;
    grid-template-columns: 0.4fr 1.9fr 1.4fr 0.4fr;
    grid-template-rows: 0.4fr auto auto auto auto auto;
    grid-auto-columns: 1fr;
    gap: 0em 0em;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar navbar navbar navbar"
      ". focus focus ."
      ". explore explore ."
      ". payments-card payments-card ."
      ". solutions solutions ."
      "footer footer footer footer";

      /* Main container takes all the space */
      
  }
  


.navbar { 
    grid-area: navbar;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.navbar-logo{
    display: flex;
    justify-content: start;
    height: 28px;
    width: 50px;
}

.navbar-links a{
    color: black;
    display: inline-flex;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    justify-content: center;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    
}

.navbar-buttons{
    padding-top: 10px;
    display: inline;
         
}

.try-it-button{
    background-color: rgb(8, 80, 240);
    border-radius: 5px;
    border-width: 1px;
    color: white;
    border-color: rgb(8, 80, 240);
    font-size: 12px;
    padding: 3px 6px;
    box-shadow: none;
       
}

.sign-in-button{
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    color: rgb(8, 80, 240);
    border-color: rgb(8, 80, 240);
    font-size: 12px;
    padding: 3px 10px;
    margin-right: 10px;
    box-shadow: none;
}
    
.focus {  
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "focus-text focus-pic";
    grid-area: focus;
    
}
  
.focus-text {
    grid-area: focus-text;
    padding-top: 5%;
    align-items: center;
    padding-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.focus-text h6{
    color: gray;
    
}

.focus-benefit-images{
    display: flex;
    width: auto;
}

.focus-benefit-images img{
    margin-right: 5px;
    margin-left: 5px;
}

.benefits{
    display: inline-flex;
}

.item.blue::before {
    content: "â—";
    color: #0074D9;
}  

.focus-pic {
    grid-area: focus-pic;
    display: flex;
    align-items: center;
    padding-top: 5%;
      
    
}



  
  .explore {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "explore-text"
      "explore-pic";
    grid-area: explore;
  }
  
  .explore-text { grid-area: explore-text; }
  
  .explore-pic { grid-area: explore-pic; }
  
  .payments-card { 
    grid-area: payments-card; 
    display: flex;
    border-radius: 2em;
    background-color:  rgb(8, 80, 248);
    margin-bottom: 4em;
    
}
  .card1text{
    display: flex;
    color: white;
    font-size: 20px;
    padding: 6em;
    flex-direction: column;
    justify-content: flex-start;
  }

  .easypay{
    padding-bottom: 1.5em;
  }

  .bullets{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .bullets .bullettexts{
    padding-top: 1em;
  }


  .payments-card .img{
    background-color: white;
  }

  .solutions {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "solutions-text solutions-text"
      "solutions-email solutions-task"
      "solutions-analytics solutions-calendars";
    grid-area: solutions;
  }
  
.solutions-text { 
    grid-area: solutions-text; 
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.solutions-text h1{
    text-align: center;
    padding-bottom: 2em;
}
  
.solutions-email { grid-area: solutions-email; }
  
.solutions-task { grid-area: solutions-task; }

.solutions-analytics { grid-area: solutions-analytics; }

.solutions-calendars { grid-area: solutions-calendars; }

.solutions-left{
    display: flex;
    justify-content: end;
    padding-right: 4em;
    padding-bottom: 4em;
}

.solutions-right{
    display: flex;
    justify-content: start;
    padding-left: 4em;
    padding-bottom: 4em;
}


.solutions-quadrant{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.solutions-quadrant > *{
    padding: 1em 0;
}

.solutions-quadrant h3, p {
    text-align: center;
}

.solutions-quadrant button{
    padding: 0 3em;
    border: 2px solid gray;
    border-radius: 3px;
    background-color: white;
    font-weight: bold;
}


/* Footer  */
/* TODO style font */
.footer { 
    grid-area: footer; 
    background-color: rgb(8, 80, 248);
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer > *{
    padding: 0.5em;
}

.footer .button-get-started{
    background-color: rgb(127, 209, 38);
    border: none;
    border-radius: 5%;
    padding: 0 1em;
}

.footer .button-chat{
    background-color: white;
    border: none;
    border-radius: 5%;
    padding: 0 1em;
}

.footer .footer-buttons > *{
    margin: 0 1em
}

.footer .footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.footer .footer-links a{
    text-decoration: none;
    color: white;
    padding: 1em;
    text-align: center;
}

.footer .dot {
    height: 12px;
    width: 7px;
    background-color: white;
    border-radius: 50%;
  }
  