/* Default margin and padding 0 */
*{
    margin: 0;
    padding: 0;
}

.container {  display: grid;
    grid-template-columns: 0.4fr 1.9fr 1.4fr 0.4fr;
    grid-template-rows: 0.4fr auto auto auto auto 30%;
    grid-auto-columns: 1fr;
    gap: 0em 0em;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar navbar navbar navbar"
      ". focus focus ."
      ". explore explore ."
      ". payments-card payments-card ."
      ". solutions solutions ."
      "footer footer footer footer";

      /* Main container takes all the space */
      height: 100vh;
  }
  
  
  .navbar { grid-area: navbar; }
  
  .focus {  display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "focus-text focus-pic";
    grid-area: focus;
  }
  
  .focus-text { grid-area: focus-text; }
  
  .focus-pic { grid-area: focus-pic; }
  
  .explore {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "explore-text"
      "explore-pic";
    grid-area: explore;
  }
  
  .explore-text { grid-area: explore-text; }
  
  .explore-pic { grid-area: explore-pic; }
  
  .payments-card { grid-area: payments-card; }
  
  .solutions {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "solutions-text solutions-text"
      "solutions-email solutions-task"
      "solutions-analytics solutions-calendars";
    grid-area: solutions;
  }
  
  .solutions-text { grid-area: solutions-text; }
  
  .solutions-email { grid-area: solutions-email; }
  
  .solutions-task { grid-area: solutions-task; }
  
  .solutions-analytics { grid-area: solutions-analytics; }
  
  .solutions-calendars { grid-area: solutions-calendars; }

/* Footer  */
/* TODO PROJECT style spacing, color, font */
.footer { 
    grid-area: footer; 
    /* TODO change bg-color to lighter blue*/
    background-color: blue;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer > *{
    padding: 0.5em;
}
/* TODO style buttons individually */

.footer .button-get-started{
    background-color: green;
    border: none;
    border-radius: 5%;
    padding: 0 1em;
}

.footer .footer-buttons > *{
    margin: 0 1em
}

.footer .button-chat{
    background-color: white;
    border: none;
    border-radius: 5%;
    padding: 0 1em;
}

.footer .footer-links{
    display: flex;
    justify-content: center;
    /* TODO fix links overflow  */
    padding: 2em;
}

.footer .footer-links a{
    text-decoration: none;
    color: white;
    padding: 1em;
}
  